.add-brand {
    display: flex;
    align-items: center;

    input {
        display: block;
        width: 340px;
        height: 35px;
        margin: .5rem;
        border-radius: 3px;
        outline: none;
        border: 1px solid #bbbbbb;
    }
}