.back-to-top {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8C30F5;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}