.navigation-container {
    background-color: #242424;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    box-shadow: 2px 0px 6px 0px rgba(50, 50, 51, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    ul {
        list-style-type: none;
        font-size: .9rem;
        font-weight: 600;
        cursor: pointer;
        display: flex;

        li {
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #ffffff;

            &:hover {
                color: #8A88FF;
            }
        }
    }

    .navigation-social img {
        padding: .2rem;
        cursor: pointer;
    }
}